<!DOCTYPE html>
<html>

<head>
    <title>join</title>
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/cards.css">
</head>

<body>

  <div class="wrapper-join">
    <form action="/auth/join" class="form" method="post" style="height: 700px">
        <h2 style="font-size: 2.8rem; font-weight: bolder; text-align: center; font-family: 'Gill Sans Extrabold', sans-serif;">WE WANT YOU! &#128302;</h2>
        <h3 class="join-text-style">E-MAIL &#128317;</h3>
        <input class="input" type="text" name="emailAddress">
        <h3 class="join-text-style">USERNAME &#128068; </h3>
        <input class="input" type="text" name="userName">
        <h3 class="join-text-style">PASSWORD &#128150;</h3>
        <input class="input" type="password" name="password">
        <br>
        <br>
        <input type="submit" value="JOIN US &#128131;" style="font-size: 1.0rem; font-weight: bolder" class="input login-button">
    </form>
  </div>
</body>

</html>
