
<head>
    <title>Login</title>
</head>

<body>
  <div class="wrapper-login">
    <form action="/auth/login" method="post" class="form login-form">
        <h2 style="font-size: 2.8rem; font-weight: bolder; text-align: center; font-family: 'Gill Sans Extrabold', sans-serif;">LOGIN &#128302;</h2>
        <!-- <h2>&#128091;</h2> -->
        <input type="text" name="userName" class="input">
        <input type="password" name="password" class="input">
        <input type="submit" class="login-button input" value="LOGIN" style="font-size: 1.0rem; font-weight: bolder">
        <a href="/auth/join"><input class="login-button input" value="NO ACCOUNT? SIGN UP HERE" style="font-size: 0.95rem; font-weight: bold; text-align: center"></a>
    </form>
  </div>
</body>



